<div class="row">
    <div class="text-center text-light col-lg-8 offset-lg-2" id="footer">
        <p>Copyright &copy; 2019 &middot; All Rights Reserved &middot;</p>
        <a href="https://github.com/michaeldcastillo/group-project-2"><img src="../../public/images/PNG/GitHub-Mark-Light-32px.png"></a>
        <br>
        <p>Michael Castillo | Nolan Glenn | Katie Robertson | Alton Carroll</p>
    </div>
</div>