<hr>
<div class="row">
    <div class="text-center col-lg-6 offset-lg-3">
        <h4>Portfolio | Home</h4>
        <p>Copyright &copy; 2019 &middot; All Rights Reserved &middot;
            <ahref="https://github.com/michaeldcastillo/group-project-2"></a> Michael Castillo | Nolan Glenn | Katie Robertson | Alton Carroll</p>
    </div>
</div>