<img src="https://media.giphy.com/media/3ohhwerD13QMADpFlu/giphy.gif" class="float-left" id="top-img">
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        
        {{> title }}

        {{> this-week }}

        {{> add-recipe }}

       <a style="float: right" href="/shoppinglist">To Shopping List &#8594;</a>
      </div>
    </div>
  </div>
</div>