
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">

     
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"><strong>Shopping List</strong></h5>  
        
          <p> <strong>Ingredients:</strong> </p>
           
           
            <ul id="ingredient-list" class="list-group">
              {{#each shoppingList}}
              <li class="list-group-item" style="padding:0rem 1.25rem;">
                <p style="margin-bottom:0;">{{this.ingredient}}</a>
              </li>
              {{/each}}
            </ul>
          
        

            <a href="/">← Back To Home</a> <a style="float: right" href="/shoppinglist">To Shopping List -></a>
        </div>
      </div>


    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/app.js"></script>