.list-group-item {
  line-height: 2.5;
}

body {
  padding-top: 5px;
  background-image: url("../images/avocado-cherry-tomatoes-chopping-board-1166419.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  color: azure;
  }

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("../images/avocado-cherry-tomatoes-chopping-board-1166419.jpg");
  min-height: 75%;
}

p {
  display: inline;
}

.card-body {
  color: black;
}

#ingredients {
  color: azure;
}